/*
 * PORTFOLIO
 * ========================================
 */
.portfolio,
.portfolio-standart {
  padding: 30px 0 0;
  overflow: hidden;

  .cricle {
    z-index: 0;
  }

  .cricle__item {
    transition: all .8s ease;
  }

  .cricle__item--right {
    right: -100%;

    &.fadeIn {
      right: 0;
    }
  }

  .cricle__item--left {
    left: 89px;
  }

  .cricle__item--bottom {
    bottom: -168px;

    @include vdisplay();
  }

  .bx-gallery {
    padding: 22px 0 50px;
  }

  .bx-gallery__container {
    transition: all .4s ease;
  }
}

.portfolio-cricle {
  padding-bottom: 80px;

  .cricle__item--bottom {
    bottom: -168px;

    @include vdisplay();
  }

  .bx-gallery__media {
    padding: 0 35px;
  }

  .bx-gallery__img {
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 35px;
  }

  .blogs__name {
    padding: 0;

    &:before {
      left: 50%;
      top: -35px;
      transform: translateX(-50%);
    }
  }
}

.portfolio-fullwidth {
  padding-bottom: 0;

  &.bx-gallery {
    padding: 0;
    position: relative;
    z-index: 9;
  }

  .bx-gallery__img {
    margin-bottom: 0;
  }

  .bx-gallery__info {
    color: white !important;
  }

  .blogs__name {
    padding: 0;

    &:before {
      left: 50%;
      top: -35px;
      transform: translateX(-50%);
    }

    span {
      color: white;
    }
  }

  .blogs__meta {
    color: #ccc !important;
  }

  .bx-gallery__likeit {
    color: white;
    top: -70px;
    right: auto;
    left: 50%;
    transform: translatex(-20%);
  }

  .info {

    a {
      color: white;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

.portfolio-masonry {
  .cricle__item--bottom {
    bottom: -168px;

    @include vdisplay();
  }

  .bx-gallery__item--width2 {
    @include media(">=sm") {
      width: 66.5%;
    }

    @include media(">=md") {
      width: 58.33333%;
    }

    .bx-gallery__img {
      padding-bottom: 100%;

      @include media(">=sm") {
        padding-bottom: 150%;
      }

      @include media(">=md") {
        padding-bottom: 165.8%;
      }

      @include media(">=lg") {
        padding-bottom: 161.5%;
      }
    }

    img {
      height: auto;

      @include media(">=sm") {
        height: 100%;
      }
    }
  }
}

.portfolio-standart,
.portfolio-cricle {
  .blogs__name {
    height: 108px;
    overflow: hidden;
  }
}
